{% render 'rapid-search-results-template-v2' %}
<div data-section-type="collection-template">
  {% capture header_content %}
    <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
      <a class="breadcrumbs__crumb" href="{{ routes.root_url }}">{{ 'general.breadcrumbs.home' | t }}</a>
      <span class="breadcrumbs__divider" aria-hidden="true">{% include 'svg-chevron-right' %}</span>
      <span class="breadcrumbs__crumb">{{ collection.title }}</span>
    </nav>

    <h1>{{ collection.title }}</h1>
    {% if collection.description != blank %}
      <div class="rte reading-width align-center large-text">{{ collection.description }}</div>
    {% endif %}
  {% endcapture %}

  {% if section.settings.header_image != blank or section.settings.head_img_coll_handled %}
    <div class="banner-image-container banner-under-header">
      {% if section.settings.head_img_coll_handled %}
        {% capture bg_url %}collection-header-{{ collection.handle }}.jpg{% endcapture %}
        <div class="banner-image fixed-height rimage__image lazyload fade-in"
            data-bgset="{{ bg_url | file_img_url: '540x' }} 540w,
                        {{ bg_url | file_img_url: '720x' }} 720w,
                        {{ bg_url | file_img_url: '900x' }} 900w,
                        {{ bg_url | file_img_url: '2048x' }} 1000w"
            data-sizes="auto"
            data-parent-fit="cover">
        </div>
        <noscript>
          <div class="banner-image fixed-height" style="background-image: url({{ bg_url | file_img_url: '2048x' }});"></div>
        </noscript>
      {% else %}
        <div class="banner-image fixed-height rimage__image lazyload fade-in"
            data-bgset="{% include 'bgset', image: section.settings.header_image %}"
            data-sizes="auto"
            data-parent-fit="cover">
        </div>
        <noscript>
          <div class="banner-image fixed-height" style="background-image: url({{ section.settings.header_image | img_url: '2048x'}})"></div>
        </noscript>
      {% endif %}

      <div class="banner-image-text feature-page-title">
        {{ header_content }}
      </div>
    </div>
  {% else %}
    <div class="feature-page-title">
      {{ header_content }}
    </div>
  {% endif %} 
  <div class="container">
    <div id="main" class="content-main" role="main">
      {% assign num_per_page = section.settings.products_per_row_int | times: 4 %}
      {% paginate collection.products by num_per_page %} 

        {% if section.settings.enable_filtering and collection.filters != blank %}   
               <form id="FacetFiltersForm" class="filters-accordion" method="get">   
                      {% if section.blocks.size > 0 %}
                      <div class="collection-link-list accordion-item active ">
                        <button type="button" class="accordion-toggle">
                          {{ 'marana.product.collection_title' | t }}
                          <span class="accordion-icon">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="size-6"
                            >
                              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                            </svg>
                          </span>
                        </button>
                        <div class="accordion-content"> 
                            <ul class="filter-options"> 
                                  {% assign current_handle = collection.handle %} 
                                  <li class="{% if current_handle == 'productos' %}active{% endif %}">
                                      <a href="{{ '/collections/productos' }}">
                                     <span> {% if current_handle == 'all' %} ✅ {% else %}☐{% endif %}</span> 
                                      <span> {{ 'marana.product.all_title' | t }} </span>
                                      </a>
                                    </li> 
                                  {% for block in section.blocks %}
                                    {% if block.settings.collection %} 
                                     {% assign item_handle = block.settings.collection.handle %}
                                      <li class="{% if item_handle == current_handle %}active{% endif %}">
                                        <a href="{{ block.settings.collection.url }}"> 
                                       <span>    {% if item_handle == current_handle %}  ✅  {% else %} ☐{% endif %}</span> 
                                         <span>{{ block.settings.collection.title }} </span>
                                        </a>
                                      </li> 
                                    {% endif %} 
                                  {% endfor %}
                            </ul> 
                        </div>
                      </div>
                    {% endif %}
 
                    {% for filter in collection.filters %}
                      <div class="accordion-item {% if filter.label == 'Tipo de producto' %} accordion-item-type {% endif %}">
                        <button type="button" class="accordion-toggle">
                          {{ filter.label | upcase }}   
                          <span class="accordion-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                            </svg>
                          </span>
                        </button>

                        <div class="accordion-content">
                          {% if filter.type == 'list' %}
                            <ul class="filter-options">
                              {% for value in filter.values %}
                                <li>
                                  <label class="checkbox-label">
                                    <input type="checkbox"
                                          name="{{ filter.param_name }}"
                                          value="{{ value.value }}"
                                          {% if value.active %}checked{% endif %}
                                          {% if value.count == 0 and value.active == false %}disabled{% endif %}>
                                    <span class="checkbox-custom"></span>
                                    <span class="checkbox-text">{{ value.label }} ({{ value.count }})</span>
                                  </label>
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}

                          {% if filter.type == 'price_range' %}
                            <div class="price-range">
                              <input type="number" name="{{ filter.min_value.param_name }}" placeholder="Desde"
                                    value="{{ filter.min_value.value | default: '' }}">
                              <input type="number" name="{{ filter.max_value.param_name }}" placeholder="Hasta"
                                    value="{{ filter.max_value.value | default: '' }}">
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}


                    {% assign menu_handle = 'menu-principal' %}
                    {% assign parent_link_title = 'Tienda' %}

                    {% assign menu = linklists[menu_handle] %}

                    {% if menu %}
                      {% for link in menu.links %}
                        {% if link.title == parent_link_title and link.links != blank %}
                          <ul class="submenu-de-tienda">
                            {% for sublink in link.links %}
                              <li><a href="{{ sublink.url }}">{{ sublink.title }}</a></li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      {% endfor %}
                    {% endif %}   
                  </form> 
            {% endif %}
            


      <div class="grid grid--row-gutters product-list" data-products> 
        {% for product in collection.products %}
          {% include 'product-grid-item' %}
        {% else %}
          <p class="product-list__no-results"><em>{{ 'collections.general.no_matches' | t }}</em></p>
        {% endfor %}
      </div>

      {% include 'pagination' %}

      {% endpaginate %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Collection page",
    "settings": [
        {
        "type": "checkbox",
        "id": "enable_filtering",
        "label": "Enable filtering",
        "default": true
      },
      {
        "type": "range",
        "id": "products_per_row_int",
        "min": 2,
        "max": 5,
        "step": 1,
        "label": "Number of products per row",
        "default": 4
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "Show tags",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "coll_show_sort",
        "label": "Show sorting dropdown",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "coll_show_feat",
        "label": "Show 'Featured' option in sorting dropdown",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "grid_show_vendor",
        "label": "Show product vendor",
        "default": false
      },
      {
        "type": "header",
        "content": "Header image"
      },
      {
        "type": "paragraph",
        "content": "Shown on all collection pages"
      },
      {
        "type": "image_picker",
        "id": "header_image",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Collection-specific header images"
      },
      {
        "type": "checkbox",
        "id": "head_img_coll_handled",
        "label": "Enable",
        "default": false
      },
      {
        "type": "paragraph",
        "content": "You will need to [upload an image file](\/admin\/settings\/files) with the filename 'collection-header-handle.jpg', where 'handle' is the [handle](http:\/\/docs.shopify.com\/themes\/liquid-variables\/handle) of the collection."
      },
      {
        "type": "paragraph",
        "content": "If you do this, you will need to upload an image for every collection on your store, or it will encounter missing-file errors."
      }
    ],
    "blocks": [
    {
      "type": "collection",
      "name": "Enlace a una colección",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Enlace"
        }
      ]
    }
  ]
  }
{% endschema %}
