 
{%- capture blocks -%}
  {% for block in section.blocks %}
    {% case block.type %}  
      {% when 'logo' %} 
        <div class="footnav-item footnav-item-{{ block.type }}" {{ block.shopify_attributes }}> 
          <div class="footnav-logo">
            {%- if block.settings.logo_image != blank -%}
              <img src="{{ block.settings.logo_image | img_url: '301x' }}" alt="{{ block.settings.title | escape }}" />
            {%- endif -%}
          </div>  
        </div>  
      {% when 'content' %} 
        {% if block.settings.content_menu != blank %} 
  		  {%- assign menu_count = menu_count | plus: 1 -%}
          {%- assign content_menu = linklists[block.settings.content_menu] -%}
          <div class="footnav-item footnav-item-{{ block.type }}" {{ block.shopify_attributes }}>
            <h4 class="footnav-title">{% if block.settings.title != blank %}{{ block.settings.title }}{% else %}{{ content_menu.title }}{% endif %}</h4>
            <ul class="footnav-menu">
              {% for link in content_menu.links %}
              <li class="footnav-menu-link">
                <a href="{{ link.url }}" title="{{ link.title | escape }}"{% if link.url contains 'http://' or link.url contains 'https://' %} target="_blank"{% endif %} class="underline">{{ link.title }}</a>
              </li>
              {% endfor %}
            </ul>  
          </div>
        {% endif %}
      {% when 'legal' %}
        {% if block.settings.legal_menu != blank %}
  		  {%- assign menu_count = menu_count | plus: 1 -%}
          {%- assign legal_menu = linklists[block.settings.legal_menu] -%}
          <div class="footnav-item footnav-item-{{ block.type }}" {{ block.shopify_attributes }}>
            <h4 class="footnav-title">{% if block.settings.title != blank %}{{ block.settings.title }}{% else %}{{ legal_menu.title }}{% endif %}</h4>
            <ul class="footnav-menu">
              {% for link in legal_menu.links %}
              <li class="footnav-menu-link">
                <a href="{{ link.url }}" title="{{ link.title | escape }}"{% if link.url contains 'http://' or link.url contains 'https://' %} target="_blank"{% endif %} class="underline">{{ link.title }}</a>
              </li>
              {% endfor %}
            </ul> 
            {% if section.settings.complaints_book_image != blank %} 
              <div class="footnav-image">
                <a href="{{ section.settings.complaints_book_link }}" title="Libro de reclamaciones" target="_blank">
                  <img src="{{ section.settings.complaints_book_image | img_url: '301x' }}" alt="Libro de reclamaciones" />
                </a> 
              </div>
            {% endif %}
          </div>
        {% endif %} 
        
      {% when 'follow' %}
        <div class="footnav-item footnav-item-{{ block.type }}" {{ block.shopify_attributes }}>
          <h4 class="footnav-title">{{ block.settings.title }}</h4> 
          <div class="main-menu-section main-menu-section--socials">
            {% include 'social-icons', use_alt_custom_icon: true %}
          </div> 
        </div>   

    {% endcase %} 

  {% endfor %}
{%- endcapture -%}

<div class="dynamic-section dynamic-section-{{ section.id }}">
  <section data-section-id="{{ section.id }}" 
           data-section-type="footer" 
           data-url="{{ 'script.footer.js' | asset_url }}">   
    <footer class="site-footer  {% if section.settings.padding_border %} section-border{% endif %}"> 
      <div class="container">
         {% if section.blocks.size > 0 %}
          <div class="site-footer-item site-footer-nav container-inner">
            <nav class="footnav footnav-count-{{ menu_count }}">
              {{ blocks }}  
            </nav>
          </div>
          {% endif %}  
      </div> 
       <div class="site-footer-copyright ">
          Copyright {{ 'now' | date: '%Y' }} {{ shop.name }}. Todos los derechos reservados.
      </div>
    </footer> 
  </section>
</div>

{% schema %} 
  {
    "name": "Footer",
	"class": "site-main",
    "settings": [
      
      
    ],
    "blocks": [ 
      {
        "type": "logo",
        "name": "Logo",
        "limit": 1,
        "settings": [
          {
            "id": "logo_image",
            "type": "image_picker",
            "label": "Logo de la tienda", 
          }
        ]
      },
      {
        "type": "content",
        "name": "Contenido",
        "limit": 1,
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Titulo del menu",
            "default": "Contenido"
          },
          {
            "id": "content_menu",
            "type": "link_list",
            "default": "main-menu",
            "label": "Menu de contenido",
          }
        ]
      },
      {
        "type": "legal",
        "name": "Legal",
        "limit": 1,
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Titulo del menu",
            "default": "Legal"
          },
          {
            "id": "legal_menu",
            "type": "link_list",
            "default": "footer",
            "label": "Menu legal", 
          }
        ]
      },
      {
        "type": "follow",
        "name": "Síguenos",
        "limit": 1,
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Titulo del menu",
            "default": "Síguenos en"
          }
        ]
      } 
       
    ],
    "default": {
      "blocks": [
        {
          "type": "content",
          "settings": {
            "title": "Contenido",
            "content_menu": "main-menu"
          }
        },
        {
          "type": "legal",
          "settings": {
            "legal_menu": "footer"
          }
        },
        /* {
          "type": "conectate"
        } */
      ]
    }
  }
{% endschema %}